<h1>Add a new photo</h1>

<form action = "/create_photo">
  <label for= "caption">    Caption:  </label>
  <input type = "text" name = "caption" id = "caption">
  <div><label for= "source">    Image URL:  </label>
    <input type = "text" name = "source" id = "source">
  </div>
  <div>
    <button> Create Photo </button>
  </div>
</form>
